<div class="copyrights">

    <img src=@Url.Content("~/image/gto.png") class="imgRedonda" style="display:inline" alt="GTO" width="100">

    <br><br>
    <p>SECRETAR&Iacute;A DE EDUCACI&Oacute;N DE GUANAJUATO</p>

    <p style="font-size: 12px">
        Pozuelos: Conjunto Administrativo Pozuelos S/N Guanajuato, Gto. (473) 735-1000
        Puentecillas: Carretera Guanajuato-Puentecillas km 9.5 Guanajuato, Gto. (473) 735-1200
        Profesiones: Carretera Guanajuato-Juventino Rosas km 6.5 Esq. Jazm&iacute;n, Col. Arroyo Verde (473) 10 20 200

        01 800 890 30 80
    </p>

    <a href="mailto:comunicacion_seg@seg.guanajuato.gob.mx?subject=Email%20Subject">comunicacion_seg@seg.guanajuato.gob.mx</a>





    <ul class="social-buttons" id="demo3">
        <li>
            <a href="http://www.youtube.com/user/EducacionGuanajuato" class="brandico-youtube"><img src="http://hopedalebuilders.com/files/2018/01/youtube-icon-white.png" width="70%"></a>
        </li>
        <li>
            <a href="https://www.facebook.com/pages/Secretar%C3%ADa-de-Educaci%C3%B3n-de-Guanajuato-SEG/340786939279382?ref=hl" class="brandico-facebook"><img src="https://amcboise.com/wp-content/uploads/2017/11/facebook.png" width="80%"></a>
        </li>
        <li>
            <a href="https://twitter.com/ComunicacionSEG" class="brandico-twitter-bird"><img src="https://www.bh-bims.org/wp-content/uploads/2017/12/twitter-icon-white-e1513102680550.png" width="90%"></a>
        </li>


    </ul>

</div>

