@model Tuple<SeccionAdministrador.Models.UsuarioViewModel, BusinessModel.Models.Usuario.UsuariosRBP>
<div class="compose-block" style="background-color: #FFFFFF">

    <div class="compose-bottom">
        <br>

        <div style="padding-top: 20px; padding-left: 10px; text-align: left" class="chit-chat-heading"> Nuevo Usuario Enlace </div><br>


        <div class="inner-wrap" align="left">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;<label>Nombre: <input id="txtNewNameEn" class="autor" style="border: none; resize: none; width: 100%" type="text" required /></label></td>
                        <td>&nbsp;<label>Primer Apellido: <input id="txtNewPAEn" class="autor" style="border: none; resize: none; width: 100%" type="text" required /></label></td>
                    </tr>
                    <tr>
                        <td><label>Segundo Apellido: <input id="txtNewSAEn" class="autor" style="border: none; resize: none; width: 100%" type="text" required /></label></td>
                        <td><label>Correo electr&oacute;nico: <input id="txtNewEmailEn" class="autor" style="border: none; resize: none; width: 100%" type="email" required /></label></td>
                    </tr>

                    <tr>

                        <td>  <label>Telefono: <input id="txtNewTelEn" class="autor" style="border: none; resize: none; width: 100%" type="tel" pattern="(\[0-9]{10}\) " title="El número de telefono es invalido, recuerde sólo teclear los 10 dígitos sin ningun otro signo" required /></label></td>
                        <td>
                            <label>
                                Institución / Subsistema: <select id="cbxNewInsSisEn" class="autor" style="border: none; resize: none; width: 100%">


                                    @foreach (var item in Model.Item1.listaInsSis)
                                    {
                                        <option value="">@item</option>
                                    }
                                </select>


                            </label>
                        </td>
                    </tr>
                    <tr>

                        <td>&nbsp; </td>

                        <td align="right">
                            <button onclick="NuevoEnlace()" class="right" id="btAddEnce">Agregar Enlace</button>
                        </td>


                    </tr>
                </tbody>
            </table>




        </div>



    </div>



</div>
<br />


<div id="TablaDatosEnlace">
    @Html.Partial("_TablaDatosEnlace", Tuple.Create(Model.Item1, Model.Item2))
</div>

<script>
    function NuevoEnlace()
    {
        document.getElementById("btAddEnce").disabled = true;
        $("body").css("cursor", "progress");
        $("button").css("cursor", "progress");
        $('button').prop('disabled', true);

        var nomA = document.getElementById("txtNewNameEn").value;
        var apeP = document.getElementById("txtNewPAEn").value;
        var apeM = document.getElementById("txtNewSAEn").value;
        var email = document.getElementById("txtNewEmailEn").value;
        var tel = document.getElementById("txtNewTelEn").value;
        var e = document.getElementById("cbxNewInsSisEn");
        var insSub = e.options[e.selectedIndex].text;

        if (nomA != "" && apeP != "" && email != "" && tel != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("NuevoEnlace", "ModuloEventoAdmin")',
                data: { nomU: nomA, apPU: apeP, apMU: apeM, emailU: email, telU: tel, insSu: insSub },
                //dataType: "html",
                success: function (data) {
                    //$('#TabRevisoresBP').html(response);
                    if (data == "true") {
                        document.getElementById("txtNewNameEn").value = "";
                        document.getElementById("txtNewPAEn").value = "";
                        document.getElementById("txtNewSAEn").value = "";
                        document.getElementById("txtNewEmailEn").value = "";
                        document.getElementById("txtNewTelEn").value = "";
                        nomU = ""; nomA = ""; apeP = ""; apeM = ""; email = ""; telU = "";
                    }
                    $("#TablaDatosEnlace").load("@Url.Action("_TablaDatosEnlace", "ModuloEventoAdmin")");
                    $("body").css("cursor", "default");
                    $("button").css("cursor", "pointer");
                    $('button').prop('disabled', false);
                    document.getElementById("btAddEnce").disabled = false;

                },
                error: function () {
                    alert("Error al actualizar datos del Usuario Enlace.");
                    $("body").css("cursor", "default");
                    $("button").css("cursor", "pointer");
                    $('button').prop('disabled', false);
                    document.getElementById("btAddEnce").disabled = false;
                }
            });
        } else {
            alert("Campos obligatorios vacíos.");
            $("body").css("cursor", "default");
            $("button").css("cursor", "pointer");
            $('button').prop('disabled', true);
            document.getElementById("btAddEnce").disabled = false
        }



    }
</script>