
@page { 
  margin: 0.25in 0.40in;
}

body {
  font-family: sans-serif;
	margin: 1.5cm 0;
	text-align: justify;
	padding-bottom: 20px;
}

#header,
#footer {
  position: fixed;
  left: 0;
	right: 0;
	color: #aaa;
	font-size: 1.0em;
	background-color: #FFFFFF;
	padding-right: 10px;
}

#header {
  top: 0;
	border-bottom: 0.1pt solid #aaa;
}

#footer {
  bottom: 0;
  border-top: 0.1pt solid #aaa;

}

#header table,
#footer table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

#header td,
#footer td {
  padding: 0;
	width: 50%;
}

.page-number {
  text-align: center;
}

.page-number:before {
  content: "Pág " counter(page);
}

hr {
  page-break-after: always;
  border: 0;
}
	h2{
		margin-top: 30px;
		
	}
	

/* CSS Document */

