@model SeccionAdministrador.Models.ImagenModuloBannerViewModel

<div class="compose compose-block" style="background-color: #FFFFFF">
    <br>


    <div style="padding-top: 20px; padding-left: 10px; text-align: left" class="chit-chat-heading"> Imágenes actuales del Banner </div><br>

    <table width="80%" border="0" align="center" style="height:10px; ">
        <tbody>
            <tr>
                <br>
                <div style="text-align: left; padding-left: 20px">Subir Imagen: </div>
            </tr>
            <tr>
                <td colspan="2">
                    <br>

                    <input type="file" style="border: none; resize: none; width: 100%" name="choose_file2" id="choose_file2" class="inputfile2 custom" accept=".jpeg,.png,.jpg" />
                    <label for="choose_file2">
                        <span id="file_name2">Archivo</span><strong style="color: #FFFFFF">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" color="#FFFFFF" style="color: #FFFFFF "><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                        </strong>
                    </label>

                    <!--- script para que cambie el noimbre del archivo --->
                    <script>
                        'use strict';
                        $(function () {
                            $('.inputfile2').each(function () {
                                var $input = $(this);
                                $input.on('change', function (e) {
                                    var fileName = '';
                                    if (e.target.value) {
                                        fileName = e.target.value.split('\\').pop();
                                    }
                                    if (fileName) {
                                        var $fileName = $('#file_name2');
                                        $fileName.html(fileName);
                                    } else {
                                        $fileName.html('');
                                    }
                                });
                            });
                        });</script>

                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <div align="right" style="margin-right: 20px">
        <button onclick="SubirBPBanner()" style="text-align: right">Subir</button>
    </div>


</div>

@*<div align="center">
        <table class="table tab-border" style="text-decoration-color: #000000; align-content: center" align="center">

            <tr class="unread checked">

                <th align="center" style="text-align: center">Vista previa</th>


                <th align="center" style="text-align: center">Eliminar</th>

            </tr>
            <tbody>
                <tr class="unread checked">
                    <td align="center">
                        minuatura
                    </td>

                    <td align="center">
                        <ul>
                            <i class="glyphicon_x glyphicon-trash" aria-hidden="true"></i>

                        </ul>
                    </td>
                </tr>

                <tr class="unread checked">
                    <td align="center">
                        minuatura
                    </td>

                    <td align="center">
                        <ul>
                            <i class="glyphicon_x glyphicon-trash" aria-hidden="true"></i>

                        </ul>
                    </td>
                </tr>




            </tbody>
        </table>
    </div>*@


<div id="tblPartialBanner">
    @Html.Partial("ModuloBP/_TablaImgBanner", Model)
</div>

<script type="text/javascript">
    function SubirBPBanner() {
       
        var input = document.getElementById("choose_file2");
        var fReader = new FileReader();
        fReader.readAsDataURL(input.files[0]);
        fReader.onloadend = function (event) {
            $("body").css("cursor", "progress");
            $("button").css("cursor", "progress");
            $('button').prop('disabled', true);
            var ruta2 = event.target.result;
            
                $.ajax({
                    url: "@Url.Action("SubirBPBanner", "Admin")",
                    method: "POST",
                    data: { ruta: ruta2, archivo: input.value },
                    datatype: "html",
                    success: function (response) {
                        $('#tblPartialBanner').html(response);
                        $("body").css("cursor", "default");
                        $("button").css("cursor", "pointer");
                        $('button').prop('disabled', false);
                    },
                    error: function () {
                        alert("Error.");
                        $("body").css("cursor", "default");
                        $("button").css("cursor", "pointer");
                        $('button').prop('disabled', false);
                    }
                });
            //}
        }
      
    }

   
</script>